<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Calendário</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  -->
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-calendar #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>

  <ion-list no-lines>
    <ion-item style="min-height: 0px; height: 50px; margin-left: -8px; border-top: none;">
      <a>{{ dataTela }}</a>
      <button ion-fab (click)="abrirNovaAnotacao()" style="position: absolute; height: 40px; width: 40px; margin-left: 80%; margin-top: -6%;">
        <ion-icon name="add"></ion-icon>
      </button>
      <p *ngIf="totalAnotacoesDoDia === 0">Sua agenda esta vazia</p>
      <p *ngIf="totalAnotacoesDoDia > 0">Compromissos do dia</p>
    </ion-item>

    <ion-item style="min-height: 0px; height: 35px; margin-left: -8px;" *ngFor="let item of anotacoesDoDia" (press)="exibirAcoes(item)" (click)="visualizarNotificacao(item)">
      <img style="height: 15px;" src="assets/imgs/icone_pontoazul.png" />
      <a >{{item}}</a>
      <!-- <p>2:00 PM</p> -->
    </ion-item>
  </ion-list>


</ion-content>