page-modal-materia-horario {

    .tamanho-botao {
        position: relative; 
        //height: 48%; 
        width: 48%;
    }

    .weekDays-selector input {
        display: none!important;
      }
      
      .weekDays-selector input[type=checkbox] + label {
        display: inline-block;
        border-radius: 6px;
        background: #dddddd;
        height: 30px;
        width: 30px;
        margin-right: 3px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
      }
      
      .weekDays-selector input[type=checkbox]:checked + label {
        background: rgb(5, 120, 215);
        color: #ffffff;
      }

}
